<!--users/password_change_form.html-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/password_change_style.css' %}">
{% endblock %}

{% block welcome_message %}
    {% if user.is_authenticated %}
        <h4>Sveiki, {{ user.username }}!</h4>
        {% else %}
            <h4>Sveiki, Svečias!</h4>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="login-buttons">
        <button type="button" onclick="location.href='{% url 'dashboard' %}'" style="background-color: #228b22; color: white;">Į valdymo skydelį</button>
        <button type="button" onclick="document.getElementById('logout-form').submit();" style="background-color: #228b22; color: white;">Atsijungti</button>
    </div>

    <div class="form-container">
        <h2>Pakeisti slaptažodį</h2>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">Senas slaptažodis:</label>
                    {{ form.old_password }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Naujas slaptažodis:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Pakartokite naują slaptažodį:</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn-small">Pakeisti</button>
            </form>
        {% endif %}
    </div>
{% endblock %}


